version: '3.8'

services:
  backend:
    build: ./backend
    environment:
      DB_HOST: db
    depends_on:
      - db

  frontend:
    build: ./frontend

  db:
    image: postgres:14
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: devops

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend


